<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Vue示例</title>
    </head>
    <body>
        <div id="app">
            <input type="radio" v-model="picked" :value="value">
            <label>单选按钮</label>
            <p>picked: {{ picked }}</p>
            <p>value: {{ value }}</p>
            <br>
            <input type="checkbox" v-model="toggle" :true-value="value1" :false-value="value2">
            <p>toggle: {{ toggle }}</p>
            <p>value1: {{ value1 }}</p>
            <p>value2: {{ value2 }}</p>
        </div>
        <script src="../vue.min.js"></script>
        <script>
            const app = new Vue({
                el: '#app',
                data: {
                    picked: false,
                    value: 123,
                    toggle: false,
                    value1: 'a',
                    value2: 'b'
                }
            });
        </script>
    </body>
</html>